{% extends "layout.html" %}

{% block title %}Flood Risk{% endblock %}

{% block content %}
    <div class="container">
        <h1>People at risk By Country</h1>
        <div id="barchart" style="width: 100%; height: 550px;">
            <a class="reset"
               href="javascript:barChartPeople.filterAll();dc.redrawAll();"
               style="display: none;">Remove Filter</a>
        </div>
        <div id="tablechart" class="table table-striped table-responsive table-hover dc-data-table" style="width: 52%;"></div>
    </div>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/custom/d3_flood_chart.js') }}"></script>
{% endblock %}