{% extends "layout.html" %}

{% block title %}Flood Risk{% endblock %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sparc.css') }}">
    <style>
    #barchart .x.axis text {
        font-size: 11px;
        text-anchor: end !important;
        transform: translateX(-10px) rotate(-45deg);
    }
    </style>
    <div class="container">
{#        <ol class = "breadcrumb">#}
{#                <li><a href = "/">Home</a></li>#}
{#                <li>SPARC Flood Risk</li>#}
{#        </ol>#}
        <h1 class="main-title">People at risk By Country</h1>
        <div class="row-fluid" id="people-rp">
            <div class="col-sm-2 r-box" id="rp25">
                <p class="rp">RP 25 years</p>
            </div>
            <div class="col-sm-2 r-box" id="rp50">
                <p class="rp">RP 50 years</p>
            </div>
            <div class="col-sm-2 r-box" id="rp100">
                <p class="rp">RP 100 years</p>
            </div>
            <div class="col-sm-2 r-box" id="rp200">
                <p class="rp">RP 200 years</p>
            </div>
            <div class="col-sm-2 r-box" id="rp500">
                <p class="rp">RP 500 years</p>
            </div>
            <div class="col-sm-2 r-box" id="rp1000">
                <p class="rp">RP 1000 years</p>
            </div>
        </div>
        <div id="num-records"></div>
        <div id="barchart">
            <a class="reset"
               href="javascript:barChartPeople.filterAll();dc.redrawAll();"
               style="display: none;">Remove Filter</a>
        </div>
        <div id="tablechart" class="table table-striped table-responsive table-hover dc-data-table" style="width: 52%;"></div>
    </div>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/custom/sparc.js') }} "></script>
{% endblock %}