 #barchart .x.axis text {
        text-anchor: end !important;
        text-transform: capitalize;
        transform: rotate(-90deg) translateX(-6px) translateY(-13px);
    }

#barchart text.x-axis-label{
        font-size: 16px;
    }   

#barchart text.y-axis-label{
        font-size: 16px;
    }   

 #tablechart td.dc-table-label {
        color: white;
        font-family: "Arial Rounded MT Bold";
        background-color: royalblue;
    }

 #tablechart th.dc-table-head {
        color: white;
        font-family: "Arial Rounded MT Bold";
        background-color: royalblue;
    }

 .reset{
    color: red;
    alignment: inherit;
}

.rp {
    font-size: 15px;
    text-align: left;
}

.r-box {
    font-size: 42px;
    text-align: center;
    height: 100px;
    color: white;
}

#people-rp{
    padding-bottom: 100px;
}

#rp25 {
    background: #fee5d9;
      }

#rp50 {
    background: #fcbba1;
      }

#rp100 {
    background: #fc9272;
      }

#rp200 {
    background:#fb6a4a ;
      }

#rp500 {
    background: #de2d26;
      }

#rp1000 {
    background: #a50f15;
      }
