div {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.dropdown-submenu {
  position: relative;
  z-index:2;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 6px 6px 6px;
  -moz-border-radius: 0 6px 6px;
  border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: #fff;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.main-title {
    font-size:52px;
    font-family: "Arial Black";
    text-align: center;
    color: black;
}

.sub-title {
    font-size:34px;
    font-family: Corbel;
    text-align: center;
    padding-bottom: 10px;
    color: gray;
}

.alert-error {
  text-align: center;
  color: lightsalmon;
}

.alert-info {
  text-align: center;
  color: lightslategray;
}

.card-title{
    font-size: 16px;
    font-weight: bold;
}

.navbar-default {
    /*background-color: #f8f8f8;*/
    border-color: #e7e7e7;
    font-size: large;
    padding: 19px 20px !important;
}

.navbar-brand{
    font-size: 24px;
    /*line-height: 80px;*/
    /*margin-top: -18px;*/
}

.navbar-default a:hover {
  border-bottom: 1px solid lightslategray;
}

/* Column container */
.row-about {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
-ms-flex: 30%; /* IE10 */
flex: 30%;
background-color: #f1f1f1;
padding: 20px;
}

/* Main column */
.main {
-ms-flex: 70%; /* IE10 */
flex: 70%;
background-color: white;
padding: 20px;
}

p {
  font-size: 16px;
  /*color: #666666;*/
}

