#barchart .x.axis text {
    text-anchor: end !important;
    text-transform: capitalize;
    /*transform: rotate(-90deg) translateX(-6px) translateY(-13px);*/
    /*transform: translateX(-6px) translateY(-25px);*/
}

#barchart text.x-axis-label{
    font-size: 16px;
}

#barchart rect.bar{
    fill: #1f77b4;
}


#barchart text.y-axis-label{
        font-size: 16px;
    }

#tablechart td.dc-table-label {
        color: white;
        background-color: #1f77b4;
    }

#tablechart th.dc-table-head {
        color: white;
        background-color: #1f77b4;
    }

.rp {
    font-size: 15px;
    text-align: left;
    font-family: "Arial";
}

.r-box {
    font-size: 42px;
    text-align: center;
    height: 100px;
    color: white;
    border: 5px solid white;
    font-weight: bold;
    font-family: Arial;
}

#people-rp{
    padding-bottom: 100px;
    background-color: #1f77b4;
}

.country-values{
    margin-top: 25px;
    font-size: medium;
}

#values{
    /*display: inline-block;*/
    text-align: left;
    margin-left: 40px;
}

.reset{
    color: red;
    alignment: inherit;
}