{% extends "bootstrap/base.html" %}

<html>
<head>
    {% block title %}Standard{% endblock %}
    {% block styles %}
        {{super()}}
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/blog.css')}}">
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/main.css')}}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/map.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename="css/dc.css") }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    {% endblock %}
</head>
{% block navbar %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"
            integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg=="
            crossorigin="anonymous"></script>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/libraries/d3.js') }}"></script>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/libraries/crossfilter.js') }}"></script>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/libraries/dc.js') }}"></script>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/libraries/colorbrewer.js') }}"></script>
    <script type="text/javascript" src=" {{ url_for('static', filename='js/custom/main.js') }}"></script>
    <nav class="navbar navbar-default">
{#        <div class="container">#}
            <div class="navbar-header">
                <a class="navbar-brand" href="{{ url_for('main_dir.about') }}">Fabio Lana</a>
{#                    <a class="navbar-brand" href="#">#}
{#                        <img src="{{ url_for('static', filename='images/logo_crop.png') }}" width="50%" />#}
{#                    </a>#}
            </div>
            <ul class="nav navbar-nav navbar-left">
            <li><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Blog<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('main_dir.geospatial') }}">Geospatial Analysis</a></li>
                        <li><a href="{{ url_for('main_dir.data_analysis') }}">Data Analysis</a></li>
                        <li><a href="{{ url_for('main_dir.remote_sensing') }}">Remote Sensing</a></li>
                    </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" href="#" data-toggle="dropdown">Analytics<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('analytics_dir.flood_chart') }}">SPARC</a></li>
                        <li class="dropdown-submenu">
                            <a tabindex="-1" class="dropdown-submenu-toggle">FAMEWS</a>
                                <ul class="dropdown-menu">
			                        <li><a class="dropdown-item" href="{{ url_for('analytics_dir.famews_chart',country='CV')}}">Cape Verde</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('analytics_dir.famews_chart',country='KE')}}">Kenya</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('analytics_dir.famews_chart',country='GH')}}">Ghana</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('analytics_dir.famews_chart',country='MW')}}">Malawi</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('analytics_dir.famews_chart',country='MZ')}}">Mozambique</a></li>
                                    <li><a class="dropdown-item" href="{{ url_for('analytics_dir.famews_chart',country='TZ')}}">Tanzania</a></li>
                                </ul>
                        </li>
                        <li><a href="{{ url_for('flasgger.apidocs') }}" target="_blank">API</a></li>
                    </ul>
            </li>
        </ul>
            {{ fontawesome_css() }}
            {{ fontawesome_js() }}
            <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
                <li class="dropdown">
                <a class="dropdown-toggle fas fa-screwdriver" data-toggle="dropdown">Admin Tasks<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="{{ url_for('auth_dir.user', username = current_user.username) }}">My Page</a></li>
                    <li><a href="{{ url_for('admin.index') }}">Admin Page</a></li>
                    <li><a href="{{ url_for('blog_dir.edit_blog') }}">Edit Blog</a></li>
                    <li><a href="{{ url_for('analytics_dir.write_famews_data') }}">FAMEWS data</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('auth_dir.logout') }}"><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
            {% else %}
                <li><a href="{{ url_for('auth_dir.register') }}"><span class="glyphicon glyphicon-user"></span> Register</a></li>
                <li><a href="{{ url_for('auth_dir.login') }} "><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
            {% endif %}
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search">
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
        </ul>
{#        </div>#}
    </nav>
{% endblock %}
<body>

{% block content %}

{% endblock %}

</body>
</html>