{% extends 'admin/base.html' %}

{% block access_control %}

    {% if current_user.is_authenticated %}
    <li class="dropdown pull-right">
        <a class="btn dropdown-toggle" data-toggle="dropdown" href="home">Options<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ url_for('main_dir.index') }}">Home</a></li>
            <li><a href="{{ url_for('auth_dir.logout') }}">Log out</a></li>
            <li><a href="{{ url_for('blog_dir.edit_blog') }}">Edit Blog</a></li>
        </ul>
    </li>
    {% endif %}
{% endblock %}
